<div id="footer-container">
	<div id=footer-div1>
		<p>© Commonwealth of Australia (Geoscience Australia) 2016.</p>
        <p><a style="border: none" href="http://www.ga.gov.au/copyright"><img width="88" alt="Creative Commons Attribution Licence" src="{{base_uri}}{{WEB_SUBFOLDER}}{{url_for('static', filename = 'img/ccby.png')}}"></a></p>
	</div>
	<div id="footer-external-links">
		<a href="http://www.ga.gov.au/copyright">Copyright</a>
		<a href="http://www.ga.gov.au/disclaimer">Disclaimer</a>
		<a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a>
		<a href="http://www.ga.gov.au/contact-us">Contact us</a>
	</div>
</div>
