<div id="header">
  <table>
    <tr>
      
      <td>
        <table>
          <tr>
            <td id="quote">
              <h1 class="site-title">Provenance Management Server</h1>
              <!--<span id="quote">Provenance Management Server</span>-->
            </td>
          </tr>
          <tr>
            <td>
              {% include 'proms_nav.html' %}
            </td>
          </tr>
        </table>
      </td>
      <td>
        <img id="ga-logo" src="{{base_uri}}{{WEB_SUBFOLDER}}{{url_for('static', filename = 'img/ga-logo.jpg')}}"$
      </td>
    </tr>
  </table>
  <div id="ga-colour-strip-container">
  </div>
</div>

